/*Navbar region*/

.navbar{
    padding: 0;
}
.navbar ul {
    background-color: rgb(0, 0, 0);
    z-index: 999; /*the 'layer' of the element*/
    width: 100%;
    position: fixed; /*sticky*/
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar ul li .menu_left {
    float: left;
}

.navbar ul li .menu_right {
    float: right;
}

.navbar ul li a {
    display: block;
    /* text color*/
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: rgb(37, 37, 37);
    text-decoration: underline;
}
/* To make some space under the navbar*/
.container{
    margin-top: 50px;
}

/* Login Region*/

.formContainer {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

#loginForm {
    position: relative;
    z-index: 1;
    background: rgb(187, 187, 187);
    max-width: 360px;
    border-radius: 5px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

input[type=text], input[type=password] {
    outline: 0;
    background: white;
    border-radius: 5px;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.loginBtn {
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    outline: 0;
    background: rgb(79, 211, 101);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
}

.loginBtn:hover {
    background-color: rgb(68, 173, 86);
}

