.cust_navbar ul {
    background-color: rgb(0, 0, 0);
    z-index: 999; /*the 'layer' of the element*/
    width: 100%;
    position: fixed; /*sticky*/
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar_text {
    color: white;
    margin: 0;
    padding: 5px 10px;
}
.cust_navbar ul li .menu_left {
    float: left;
}

    .cust_navbar ul li .menu_right {
        float: right;
    }

    .cust_navbar ul li a {
        display: block;
        /* text color*/
        color: white;
        text-align: center;
        padding: 5px 10px;
        text-decoration: none;
    }
.navbar_logout {
    display: block;
    text-align: center;
    /*padding: 5px 10px;*/
    background-color: darkred;
    color: white;
    border-radius: 2px;
    border: 0;
    margin: 5px;
}
        .cust_navbar ul li a:hover {
            background-color: rgb(37, 37, 37);
            text-decoration: underline;
        }
    .cust_navbar ul li .navbar_logout:hover {
        background-color: red;
    }



.cust_container {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.formContainer {
    width: 360px;
    margin: auto;
}

.cust_base_form {
    position: relative;
    z-index: 1;
    background: rgb(187, 187, 187);
    max-width: 360px;
    border-radius: 5px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

    .cust_base_form .cust_form_header {
        margin-top: 0;
    }

    .cust_base_form .cust_form_group {
        width: 100%;
        display: inline-block;
    }

        .cust_base_form .cust_form_group label {
            float: left;
            clear: both;
        }

.cust_form_group .cust_form_control {
    outline: 0;
    background: white;
    border-radius: 5px;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

#loginForm {
    position: relative;
    z-index: 1;
    background: rgb(187, 187, 187);
    max-width: 360px;
    border-radius: 5px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}


.cust_basic_btn {
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    outline: 0;
    background: rgb(15, 15, 15);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
}

    .cust_basic_btn:hover {
        background-color: rgb(46, 46, 46);
    }

.pushLeft {
    float: left;
}

.pushRight {
    float: right;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}
