@{
    ViewData["Title"] = "Index";
}

<br />
<h2 class="text-info">Jobs List</h2>
<br />

<div class="cust_container row p-0 m-0">
    <div class="col-12 border p-3 mt-3">
        <form action="/" method="post">        	
             <table id="jobs_table" class="table table-striped border">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Payment</th>
                        <th>Issuer Rep</th>
                        <th>Issuer First Name</th>
                        <th>Issuer Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="table_row">
                        <td>Row 1 Title </td>
                        <td>Row 1 Description</td>
                        <td>Row 1 Location</td>
                        <td>Row 1 Payment</td>
                        <td>Row 1 Issuer Rep</td>
                        <td>Row 1 Issuer First Name</td>
                        <td>Row 1 Issuer Last Name</td>
                    </tr>
                </tbody>
             </table> 
        </form>
    </div>
</div>
@section scripts{
    <script src="~/js/JobsList.js"></script>
}
