@{
    ViewData["Title"] = "Index";
}

<br />
<h2 class="text-info">Jobs List</h2>
<br />

<div class="container row p-0 m-0">
    <div class="col-12 border p-3 mt-3">
        <form action="/" method="post">        	
             <table id="jobs_table" class="table table-striped border">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Payment</th>
                    <th>Issuer Rep</th>
                    <th>Issuer First Name</th>
                    <th>Issuer Last Name</th>
                </tr>
                </thead>
                <tbody>
                    <tr id="table_row">
                    </tr>
                </tbody>
             </table> 
        </form>
    </div>
</div>
@section scripts{
    <script src="~/js/JobsList.js"></script>
}
