@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">No Model?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The database needs to contain location data to be able to make new issues so please...</p>
    <h2><a asp-controller="Locations" asp-action="SetupGeoData" >CLICK ME IF DATABASE IS NEW</a>.</h2>
</div>
<div><a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>  
    </div>
