
@{
    ViewData["Title"] = "Login";
}

<div class=formContainer>
    <form id=loginForm>
        <input type="text" placeholder="Username" name="uname" required>
        <input type="password" placeholder="Password" name="psw" required>
        <button class="loginBtn" type="submit">Login</button>
    </form>
</div>

