
@{
    ViewData["Title"] = "Login";
}

<div class=formContainer>
    <form id=loginForm class="cust_base_form">
        <input type="text" class="cust_form_control" placeholder="Username" name="uname" required>
        <input type="password" class="cust_form_control" placeholder="Password" name="psw" required>
        <button class="cust_basic_btn" type="submit">Login</button>
    </form>
</div>

