@{
    ViewData["Title"] = "Seeding";
}

    <div class="text-center">
        <h2><a asp-controller="Locations" asp-action="SetupGeoData">CLICK ME IF DATABASE IS NEW</a>.</h2>
        <h2><a asp-controller="Currency" asp-action="SeedDbWithCurrencies">CLICK ME TO SEED THE DATABASE WITH CURRENCIES</a>.</h2>
        <h2><a asp-controller="Account" asp-action="Initialize">CLICK ME TO SEED THE DATABASE WITH USERS IF YOU HAVE NONE</a>.</h2>
    </div>

