@model Webteam2.UserRegistrationModel
@{
    ViewData["Title"] = "Register";
}
<div class=formContainer>
    <form class="cust_base_form" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>
        <h1 class="cust_form_header">Register</h1>
        <div class="cust_form_group">
            <label asp-for="FirstName" class="cust_control_label">Firstname</label>
            <input asp-for="FirstName" class="cust_form_control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <label asp-for="LastName" class="cust_control_label">Lastname</label>
            <input asp-for="LastName" class="cust_form_control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <label asp-for="Email" class="cust_control_label">Email</label>
            <input asp-for="Email" class="cust_form_control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <label asp-for="Password" class="cust_control_label">Password</label>
            <input type="password" asp-for="Password" class="cust_form_control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <label asp-for="ConfirmPassword" class="cust_control_label">Confirm Password</label>
            <input type="password" asp-for="ConfirmPassword" class="cust_form_control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <label asp-for="Role" class="cust_control_label">Role</label>
            <select asp-for="Role" class="cust_form_control">
                <option value="Customer">Customer</option>
                <option value="NotValidatedContractor" >Contractor</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
        <div class="cust_form_group">
            <input type="submit" value="Register" class="cust_basic_btn" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
