<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webteam2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/styles.css" />

</head>
<body>
    <header>
        <nav id="navbar" class="cust_navbar">
            <div class="nav_container">
                <ul>
                    <li><a id="navbar_item_0" class="menu_left" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a id="navbar_item_1" class="menu_left" asp-area="" asp-controller="" asp-action="">About</a></li>
                    <li><a id="navbar_item_2" class="menu_left" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <!-- Menu items to the right, revesed order -->
                    <li><a id="navbar_item_4" class="menu_right" asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                    <li><a id="navbar_item_3" class="menu_right" asp-area="" asp-controller="" asp-action="">Example</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Webteam2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
