@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webteam2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-print-1.6.1/sl-1.3.1/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-print-1.6.1/r-2.2.3/rr-1.2.6/sl-1.3.1/datatables.min.css" />
</head>
<body>
    <header>
        <nav id="navbar" class="cust_navbar">
            <div class="nav_container">
                <ul>
                    <li><a id="navbar_item_0" class="menu_left" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a id="navbar_item_1" class="menu_left" asp-area="" asp-controller="" asp-action="">About</a></li>
                    <li><a id="navbar_item_2" class="menu_left" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <!-- Menu items to the right, revesed order -->

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <form asp-controller="Account" asp-action="Logout">
                                <button id="navbar_item_5" class="menu_right navbar_logout" type="submit">Logout</button>
                            </form>
                        </li>
                        <li><a id="navbar_item_6" class="menu_left" asp-area="" asp-controller="Issues" asp-action="Index">Jobs</a></li>
                        <li><a id="navbar_item_7" class="menu_left" asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                        <li>
                            @*<form asp-controller="Profile" asp-action="Index" asp-route-id="@User.Claims.First(c => c.Type == "id").Value">
                                <button id="navbar_item_8" class="menu_left navbar_button" type="submit">My Profile</button>
                            </form>*@
                            <a id="navbar_item_8" class="menu_left" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
                        </li>
                    }
                    else
                    {
                        <li><a id="navbar_item_4" class="menu_right" asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a id="navbar_item_3" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>

                    }
                    @if (User.IsInRole("Administrator"))
                    {
                        <li><a id="navbar_item_9" class="menu_left" asp-area="" asp-controller="Account" asp-action="ValidateContractors">ValidateContractors</a></li>
                        <li><a id="navbar_item_8" class="menu_left" asp-area="" asp-controller="Profile" asp-action="ShowCount">Show Profile Count</a></li>
                    }



                            @*Remove below after testing
        @if (User.IsInRole("NotValidatedContractor"))
        {
            <li><a id="navbar_item_9" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">NOTVALIDATEDCONTRACTOR (FOR TESTING)</a></li>
        }
        @if (User.IsInRole("ValidatedContractor"))
        {
            <li><a id="navbar_item_9" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">VALIDATED CONTRACTOR (FOR TESTING)</a></li>
        }
        @if (User.IsInRole("Administrator"))
        {
            <li><a id="navbar_item_11" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">ADMINISTRATOR (FOR TESTING)</a></li>
        }
        @if (User.IsInRole("Customer"))
        {
            <li><a id="navbar_item_11" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">CUSTOMER (FOR TESTING)</a></li>
        }
        @if (User.IsInRole("Visitor"))
        {
            <li><a id="navbar_item_11" class="menu_right" asp-area="" asp-controller="Account" asp-action="Register">VISITOR (FOR TESTING)</a></li>
        }
        Remove until here after testing*@




</ul>
            </div>
        </nav>
    </header>
    <div class="cust_container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Webteam2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-print-1.6.1/sl-1.3.1/datatables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-print-1.6.1/r-2.2.3/rr-1.2.6/sl-1.3.1/datatables.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
